@import url('../../css/borders.css');
@import url("../../css/lightcolors.css");

.outline, .PoRT
{
	outline: 0px none;
/*	box-shadow: none; */
}

table, td, tr, th, div
{
	border-color:#228;
}


a:link
{
	color: #B03;
}
a:visited
{
	color: #B03;
}
a:active
{
	color: #B03;
}
a:hover
{
	color:#007;
}
a:hover span
{
	color: #007;
}

.faq
{
	border: 1px solid #228;
	background: #05012E;
}

#boardheader
{
	background: #1890f8 url("topbg.png");
	background-repeat: repeat-x;
	background-position:center top; 
}


body
{
	background: #1890f8 url("bg.png");
	background-repeat: repeat-x;
	background-attachment:fixed;
	background-position:left bottom; 
}

.header0 th
{
	background: rgba(255, 112, 73, 0.85);
	color: #EEEEEE;
}

.header1 th
{
	background: rgba(255, 159, 133, 0.85);
}

.cell2
{
	background: rgba(211, 239, 255, 0.85);
}

.cell1, table.post td.side, table.post td.userlink, table.post td.meta
{
	background: rgba(141, 213, 255, 0.85);
}

.cell0, table.post td.post, .faq
{
	background: rgba(211, 239, 255, 0.85);
}

.errort
{
	background: rgba(211, 239, 255, 0.85);
	border: 1px solid #224;
}

.errorc
{
	background: rgba(141, 213, 255, 0.85);
	border: 1px solid #224;
	border-top: 0px;
}

button, input[type="submit"]
{
	border: 1px solid #224;
	background: rgba(218, 255, 171, 0.85);
	color: #000;
}

input[type="text"], input[type="password"], input[type="file"], input[type="email"], select, textarea, input[type="checkbox"], input[type="radio"]
{
	background: rgba(218, 255, 171, 0.90);
	border: 1px solid #224;
	color: #000;
}

input[type="radio"]
{
	border-radius: 8px;
}

input[type="text"]:focus, input[type="password"]:focus, input[type="file"]:focus, input[type="email"]:focus, select:focus, textarea:focus
{
	border-color: rgba(218, 255, 171FOCUS, 0.85);
}


div#tabs button.selected
{
	border-bottom: 1px solid rgba(255, 112, 73, 0.85);
	background: rgba(255, 112, 73, 0.85);
}
