

RewriteEngine on
RewriteCond		%{REQUEST_FILENAME}				-d
RewriteCond		%{REQUEST_FILENAME}				!board/?$
RewriteRule 	.* 								- 									[S=2]
RewriteRule 	^(\w+)/(\w+)(?:-[\w-]*)?/$ 		?page=$1&id=$2&%{QUERY_STRING}		[NC,L]
RewriteRule 	^(\w+)/$ 	 					?page=$1&%{QUERY_STRING} 			[NC,L]

ErrorDocument 404 /?page=404

RewriteEngine on
RewriteCond %{HTTP:VIA}                 !^$ [OR]
RewriteCond %{HTTP:FORWARDED}           !^$ [OR]
RewriteCond %{HTTP:USERAGENT_VIA}       !^$ [OR]
RewriteCond %{HTTP:X_FORWARDED_FOR}     !^$ [OR]
RewriteCond %{HTTP:PROXY_CONNECTION}    !^$ [OR]
RewriteCond %{HTTP:XPROXY_CONNECTION}   !^$ [OR]
RewriteCond %{HTTP:HTTP_PC_REMOTE_ADDR} !^$ [OR]
RewriteCond %{HTTP:HTTP_CLIENT_IP}      !^$
RewriteRule ^(.*)$ - [F]
