/* Blargboard Theme Contest 2 - Asteroid Impact (by LifeMushroom) */

@import url('../../css/borders.css');

body
{
	font-family: Georgia, Times, "Times New Roman", serif;
	background-image: url('background.jpg');
	background-attachment: fixed;

}

a:link { color: rgba(214, 226, 226, 0.9); }
a:visited { color: rgba(214, 226, 226, 0.9); }
a:hover { color: rgba(255, 255, 255, 1); text-decoration:underline;}

table, tr, td, th, div
{
	border-color: rgba(80, 0, 126, 1);
}

.header1
{
	background-color: rgba(50, 19, 64, 1);
	text-shadow: #000 1px 1px 1px;
}

.header0
{
	font-family: Georgia, Times, "Times New Roman", serif;
	background-color: rgba(57, 0, 80, 0.9);
}

.cell1, table.post td.post
{
	font-family: Verdana, Geneva, sans-serif;
	background-color: rgba(59, 0, 80, 0.9);
}

.cell0
{
	background-color: rgba(65,13,65,0.9);
}

.cell2, table.post td.side, table.post td.meta
{
	background-color: rgba(88, 0, 80, 0.9);
}

#main-sidebar
{
	font-family: Verdana, Geneva, sans-serif;
}

#header-sep
{
	display: none;
}

.navButton:hover, .dropdownContainer:hover > .navButton
{
	background: rgba(0,0,0,0.15);
}

#notifMenuContainer.hasNotifs #notifCount
{
	font-family: Verdana, Geneva, sans-serif;
	background-color: rgba(119, 2, 124, 0.9);
	border: 1px solid rgba(119, 2, 124, 0.9);
	
	transform-origin: center;
	animation-name: notifAnim;
	animation-delay: 0.25s;
	animation-duration: 1s;
	animation-iteration-count: 3;
    animation-timing-function: ease-in-out;
	
	-webkit-transform-origin: center;
	-webkit-animation-name: notifAnim;
	-webkit-animation-delay: 0.25s;
	-webkit-animation-duration: 1s;
	-webkit-animation-iteration-count: 3;
	-webkit-animation-timing-function: ease-in-out;
}

@keyframes notifAnim
{
	0% { transform: scale(1,1); }
	50% { transform: scale(2,2); }
	100% { transform: scale(1,1); }
}

@-webkit-keyframes notifAnim
{
	0% { -webkit-transform: scale(1,1); }
	50% { -webkit-transform: scale(2,2); }
	100% { -webkit-transform: scale(1,1); }
}

button, input[type="button"], input[type="submit"]
{
	border: 2px solid color: rgb(146,19,152);
	background: black;
	color: rgb(146,19,152);
}

input[type="text"], input[type="password"], input[type="file"], input[type="email"], select, textarea
{
	background: black;
	border: 1px solid color: rgb(146,19,152);
	color: rgb(146,19,152);
}

div#tabs button
{
	border-width: 1px;
	border-radius: 0px;
	margin-bottom: 1px;
}

div#tabs button.selected
{
	border-bottom: 1px solid #002;
	background: #002;
}