@import url('../../css/borders.css');
@import url('../../css/roundcorners.css');

.faq
{
	background: #05012E;
}

#boardheader
{
	background: rgba(10, 0, 0, 0.85);
}

body
{
	background-color:#000;
	background-image: url("overbg.png"), url("bg.png");
	background-repeat: repeat-x, repeat;
	background-attachment:fixed, fixed;
	background-position:left bottom, left bottom;
}

.header0 th
{
	background: rgba(161, 62, 5, 0.85);
	color: #EEEEEE;
}

.header1 th
{
	background: rgba(118, 8, 0, 0.85);
}

.cell2
{
	background: rgba(80, 0, 0, 0.85);
}

.cell1, table.post td.side, table.post td.userlink, table.post td.meta
{
	background: rgba(56, 16, 8, 0.85);
}

.cell0, table.post td.post, .faq
{
	background: rgba(32, 8, 0, 0.85);
}

.errort
{
	background: rgba(32, 8, 0, 0.85);
}

.errorc
{
	background: rgba(56, 16, 8, 0.85);
}

button, input[type="submit"]
{
	border: 1px solid #000;
	background: rgba(42, 26, 9, 0.85);
	color: #FFF;
}

input[type="text"], input[type="password"], input[type="file"], input[type="email"], select, textarea, input[type="checkbox"], input[type="radio"]
{
	background: rgba(80, 0, 0, 0.90);
	border: 1px solid #000;
	color: #FFF;
}

input[type="radio"]
{
	border-radius: 8px;
}

input[type="text"]:focus, input[type="password"]:focus, input[type="file"]:focus, input[type="email"]:focus, select:focus, textarea:focus
{
	border-color: rgba(256, 90, 10, 0.85);
}

div#tabs button.selected
{
	border-bottom: 1px solid rgba(161, 62, 5, 0.85);
	background: rgba(161, 62, 5, 0.85);
}

