/* Blargboard - Fiery Heatwave (by LifeMushroom) */
@import url('../../css/borders.css');

body
{
	background-image: url("fire.jpg");
}

a:link {color: color: rgba(255, 82, 0, 0.6); }
a:hover { color: rgba(255, 255, 255, 1); text-decoration:underline;}

table, tr, td, th, div
{
	border-color: rgba(219, 96, 41, 0.7);
	text-shadow: #000 1px 1px 1px;
}

.header1
{
	background-color: rgba(171, 20, 30, 1);
	text-shadow: #000 1px 1px 1px;
}

.header0
{
	background-color: rgba(171, 95, 33, 1);
}

.cell1, table.post td.post
{
	background-color: rgba(178, 65, 30, 1);
}

.cell0
{
	background-color: rgba(142, 0, 30, 1);
}

.cell2, table.post td.side, table.post td.meta
{
	background-color: rgba(142, 0, 30, 1);
}

button, input[type="button"], input[type="submit"]
{
	border: 2px solid color: rgba(101, 0, 20, 1);
	background: black;
	color: rgba(101, 0, 20, 1);
}

input[type="text"], input[type="password"], input[type="file"], input[type="email"], select, textarea
{
	background: black;
	border: 1px solid color: rgba(101, 0, 20, 1);
	color: rgba(101, 0, 20, 1);
}

div#tabs button
{
	border-width: 1px;
	border-radius: 0px;
	margin-bottom: 1px;
}

div#tabs button.selected
{
	border-bottom: 1px solid #002;
	background: #002;
}
